:root {
  --main-color: #0275d8;
  --hover-color: #0369c2;
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}
.DashBoard {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 10fr;
}
.DashBoard-Nav {
  /* height: 100vh; */
  background-color: var(--container-color);
}
.DashBoard-Heading {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: var(--container-color);
}
.Table {
  color: var(--text-color);
}
