@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400;1,600&family=Quicksand:wght@300;400;500;600;700&family=Style+Script&display=swap");

.Home{
  background: #2d2e37; 
  position: relative;
  text-align: center;
 
}
.img-container{
  filter: blur(3px);
}
.text-container{
background-color: #d0d3e984;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


.footer {
  margin-top: auto;
}
.posts-page {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}
.DashBoard {
  padding-top: 50px;
}
/* Post Box */
.text-social {
  cursor: pointer;
  font-size: 22px !important;
}

.box-text::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #0275d8;
  transition: width 0.3s;
}
hr {
  color: #0275d8 !important;
}
.box-text:hover {
  cursor: pointer;
}
.box-text:hover::after {
  width: 100%;
}
.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 20px;
}

.postWrapper {
  padding: 10px;
  /* background-image: linear-gradient(to right , #f8a92a,#2d2e37); */
  background-color: #2d2e37;
  border: 2px solid #fcfeff;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg,
.user-img {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
  padding-right: 30px;
}

.postCommenttext {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
/* Add Post Box */
.share {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
  padding: 10px;
}

.shareTop {
  display: flex;
  align-items: center;
}

.shareProfileImg {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInput {
  border: none;
  width: 80%;
}

.shareInput:focus {
  outline: none;
}

.shareHr {
  margin: 20px;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
}

.shareButton {
  border: none;
  padding: 7px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
}
.Left-Nav {
  display: flex;
  flex-direction: column;
  padding: "1.5rem 1.5rem 0.75rem 1.5rem";
  border-radius: "0.75rem";
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.68);
}
.name-img {
  display: "flex";
  flex-direction: row;
  gap: 1rem;
  justify-content: "space-between";
  align-items: "center";
}
.user-img-sidebar {
  object-fit: "cover";
  border-radius: "50%";
  width: 60px;
  height: 60px;
}
.update-text {
  color: #1e1e2a;
}
.edit-img-btn {
  color: #fcfeff;
  font-size: 22px;
  transform: translate(100%, 250%);
}
.postTopRight{
  transition: 0.3s;
}
.postTopRight:hover{
transform: scale(1.3);

}