:root {
  --main-color: #0275d8;
  --hover-color: #0369c2;
  --body-color: #1e1e2a;
  --container-color: #2d2e37;
  --text-color: #fcfeff;
}

.Feed {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 8fr 2fr;
  column-gap: 30px;
}
.Feed-Col {
  padding-top: 30px !important;
}
.posts-aria {
  display: flex;
  flex-direction: column;
  gap: 20px !important;
}
.accordion-button {
  color: #fcfeff !important;
  background-color: #2d2e37 !important;
}
.filter-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter-date {
  width: 100px !important;
  height: fit-content !important;
}
.filter-search {
  height: fit-content !important;
  width: 175px !important;
}
/* Left Nav Style */
.swal2-popup {
  background-color: var(--container-color) !important;
}
.swal2-title {
  font-family: "Poppins", sans-serif !important;
  font-size: 20px !important;
  text-align: justify !important;
  color: var(--text-color) !important;
  font-weight: 300 !important;
}
.swal2-confirm {
  background-color: var(--main-color) !important;
  border: 0 !important;
}
.swal2-cancel {
  background-color: rgb(229, 49, 49) !important;
}
/* Posts Style */
.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.postBottomLeft {
  display: flex;
  align-items: center;
}
.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
}
.postUsername:hover {
  transition: 0.6s;
  transform: scale(1.1);
}
.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}
.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.postText * {
  color: #fcfeff !important;
}
.postTopLeft {
  display: flex;
  align-items: center;
}
.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin-top: 20px;
}

.postWrapper {
  padding: 10px;
  background-color: #2d2e37;
}
.Pagination-btn {
  background-color: var(--container-color) !important;
  color: var(--text-color) !important;
}
.page-link {
  color: var(--text-color) !important;
  font-weight: 500;
}
.page-item .page-link:hover {
  background-color: var(--body-color) !important;
}
.page-item.active .page-link {
  color: var(--body-color) !important;
  background-color: var(--text-color) !important;
}
@media (max-width: 1024px) {
  .Feed {
    grid-template-columns: 1fr 3fr 1fr;
    padding: 0px 10px 0px 10px !important;
    column-gap: 10px;
  }
}
@media (max-width: 768px) {
  .filter-inputs {
    flex-direction: column;
  }

  .filter-search {
    width: 100px !important;
  }
  .feed {
    grid-template-columns: 1fr 4fr !important;
  }
  .Our-Client {
    display: none !important;
  }
}
@media (max-width: 430px) {
  #user-pic-feed {
    width: 100px !important;
  }
  #Feed {
    grid-template-rows: 1fr 11fr !important;
    grid-template-columns: 1fr !important;
  }
  .postTop {
    flex-direction: column;
  }
}
